<div class="lista">
<ul>
    <li>
        <h2>{{pizze[0].nome}}</h2>
        <button>Ingredienti</button>
    </li>
    <li>
        <h2>{{pizze[1].nome}}</h2>
        <button>Ingredienti</button>
    </li>
    <li>
        <h2>{{pizze[2].nome}}</h2>
        <button>Ingredienti</button>
    </li>
    <li>
        <h2>{{pizze[3].nome}}</h2>
        <button>Ingredienti</button>
    </li>
    <li>
        <h2>{{pizze[4].nome}}</h2>
        <button>Ingredienti</button>
    </li>
    <li>
        <h2>{{pizze[5].nome}}</h2>
        <button>Ingredienti</button>
    </li>
    <li>
        <h2>{{pizze[6].nome}}</h2>
        <button>Ingredienti</button>
    </li>
    <li>
        <h2>{{pizze[7].nome}}</h2>
        <button>Ingredienti</button>
    </li>
    <li>
        <h2>{{pizze[8].nome}}</h2>
        <button>Ingredienti</button>
    </li>
    <li>
        <h2>{{pizze[9].nome}}</h2>
        <button>Ingredienti</button>
    </li>
</ul>
</div>
